@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color: white;
}
.border-gradient {
  @apply relative z-0;
}

.border-gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  background: linear-gradient(to bottom, #93b7f1, #003962);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
  border-radius: inherit;
}
