---
import Header from "../components/Header.astro";
import HeroSection from "../components/HeroSection.astro";
import About from "../components/About.astro";
import Device from "../components/Device.astro";
import Themes from "../components/Themes.astro";
import Pricing from "../components/Priicing.astro";
import FAQ from "../components/FAQ.astro";
import Footer from "../components/Footer.astro";
---

<section>
  <div class="absolute top-0 left-0 w-full h-full z-[-1]">
    <img src="/heroSection.png" alt="Astro logo" class="h-screen" />
  </div>
  <Header />
  <HeroSection />
  <About />
  <Device />
  <Themes />
  <Pricing />
  <FAQ />
  <Footer />
</section>
