<section class="bg-[#020711] py-16">
  <div class="absolute right-0">
    <img src="/aboutEclipse.png" class="h-[180vh]" />
  </div>
  <div class="flex flex-col items-center justify-center gap-10">
    <div
      class="text-[#9dacbd] flex flex-col items-center justify-center gap-6 text-center"
    >
      <div
        class="border-2 border-[#ffffff0a] bg-[#FFFFFF0A] py-2 px-5 tracking-widest rounded-full"
      >
        HALAL AI
      </div>
      <div class="text-4xl font-semibold text-white">
        Your Mac just got <br />smarter
      </div>
      <p>
        write smarter, code faster and ansewer question quicker with Chatgpt in
        recast.<br /> Deeply integrated into macOS and just one keystroke away.
      </p>
    </div>
    <div
      class="bg-[#FFFFFF0D] border border-[#ffffff0a] rounded-lg w-[60%] p-16"
    >
      <img src="/aboutImg.png" />
    </div>
    <div class="flex w-[60%] gap-4">
      <div
        class="w-1/3 border border-[#ffffff0a] bg-[#FFFFFF0A] text-[#9dacbd] rounded-lg p-4 flex flex-col gap-4 items-start"
      >
        <div class="bg-[#ffffff1c] border border-[#ffffff1a] rounded-lg p-2">
          <img src="/gpt.svg" />
        </div>
        <div class="text-white">Always-on ChatGPT</div>
        <p class="text-xs leading-5">
          Ask anything, anytime, anywhere. Stuck while programming? Need some
          copy? Or just have a question - Ask AI.
        </p>
      </div>
      <div
        class="w-1/3 border border-[#ffffff0a] bg-[#FFFFFF0A] text-[#9dacbd] rounded-lg p-4 flex flex-col gap-4 items-start"
      >
        <div class="bg-[#ffffff1c] border border-[#ffffff1a] rounded-lg p-2">
          <img src="/apple.svg" />
        </div>
        <div class="text-white">Always-on ChatGPT</div>
        <p class="text-xs leading-5">
          Ask anything, anytime, anywhere. Stuck while programming? Need some
          copy? Or just have a question - Ask AI.
        </p>
      </div>
      <div
        class="w-1/3 border border-[#ffffff0a] bg-[#FFFFFF0A] text-[#9dacbd] rounded-lg p-4 flex flex-col gap-4 items-start"
      >
        <div class="bg-[#ffffff1c] border border-[#ffffff1a] rounded-lg p-2">
          <img src="/write.svg" />
        </div>
        <div class="text-white">Always-on ChatGPT</div>
        <p class="text-xs leading-5">
          Ask anything, anytime, anywhere. Stuck while programming? Need some
          copy? Or just have a question - Ask AI.
        </p>
      </div>
    </div>
  </div>
</section>
