<section class="bg-[#020711] py-16 flex items-center justify-center">
  <div class="w-[60%] flex">
    <div
      class="w-1/2 text-[#9dacbd] flex flex-col items-start justify-center gap-6"
    >
      <div
        class="border-2 border-[#ffffff0a] bg-[#FFFFFF0A] py-2 px-5 tracking-widest rounded-full"
      >
        HALAL AI
      </div>
      <div class="text-4xl font-semibold text-white">
        Keep all your devices in<br />sync with a single toggle
      </div>
      <p>
        Keep everything safe and updated across your Macs. Perfect to switch
        between personal and work setup. Or as a backup to move to a new device
        within minutes.
      </p>
    </div>
    <div class="w-1/2"><img src="/deviice.png" /></div>
  </div>
</section>
