<section
  class="bg-[#020711] py-16 border-t border-[#9dacbd26] flex items-center justify-center flex-col gap-6 w-[100%]"
>
  <div class="absolute right-0">
    <img src="/bottomShadow.png" class="h-[56vh]" />
  </div>
  <div class="flex items-start w-[100%]">
    <div class="flex items-center gap-3 text-2xl font-medium w-1/5">
      <img src="/favicon.svg" height="32px" width="32px" /><div>Raycast</div>
    </div>
    <div class="flex flex-col gap-3 text-lg font-medium w-1/5">
      <div>Products</div>
      <ul class="text-sm flex flex-col gap-2 text-[#9dacbda3]">
        <li><a href="">Store</a></li>
        <li><a href="">Developer</a></li>
        <li><a href="">Teams</a></li>
        <li><a href="">Pro</a></li>
        <li><a href="">API Docs</a></li>
        <li><a href="">Pricing</a></li>
        <li><a href="">Changelog</a></li>
        <li><a href="">Manual</a></li>
        <li><a href="">Troubleshooting</a></li>
        <li><a href="">FAQ</a></li>
      </ul>
    </div>
    <div class="flex flex-col gap-3 text-lg font-medium w-1/5">
      <div>Company</div>
      <ul class="text-sm flex flex-col gap-2 text-[#9dacbda3]">
        <li><a href="">Store</a></li>
        <li><a href="">Developer</a></li>
        <li><a href="">Teams</a></li>
        <li><a href="">Pro</a></li>
        <li><a href="">API Docs</a></li>
        <li><a href="">Pricing</a></li>
        <li><a href="">Changelog</a></li>
        <li><a href="">Manual</a></li>
        <li><a href="">Troubleshooting</a></li>
        <li><a href="">FAQ</a></li>
      </ul>
    </div>
    <div class="flex flex-col gap-3 text-lg font-medium w-1/5">
      <div>Community</div>
      <ul class="text-sm flex flex-col gap-2 text-[#9dacbda3]">
        <li><a href="">Store</a></li>
        <li><a href="">Developer</a></li>
        <li><a href="">Teams</a></li>
        <li><a href="">Pro</a></li>
        <li><a href="">API Docs</a></li>
        <li><a href="">Pricing</a></li>
        <li><a href="">Changelog</a></li>
        <li><a href="">Manual</a></li>
        <li><a href="">Troubleshooting</a></li>
        <li><a href="">FAQ</a></li>
      </ul>
    </div>
    <div class="flex flex-col gap-3 text-lg font-medium w-1/5">
      <div>By Raycast</div>
      <ul class="text-sm flex flex-col gap-2 text-[#9dacbda3]">
        <li><a href="">Store</a></li>
        <li><a href="">Developer</a></li>
        <li><a href="">Teams</a></li>
        <li><a href="">Pro</a></li>
        <li><a href="">API Docs</a></li>
        <li><a href="">Pricing</a></li>
        <li><a href="">Changelog</a></li>
        <li><a href="">Manual</a></li>
        <li><a href="">Troubleshooting</a></li>
        <li><a href="">FAQ</a></li>
      </ul>
    </div>
  </div>
</section>
