<section class="py-8 border-b border-[#FFFFFF21]">
  <div class="flex justify-between items-center w-full px-20">
    <div class="flex items-center gap-3 text-lg font-medium">
      <img src="/favicon.svg" height="24px" width="24px" /><div>Raycast</div>
    </div>
    <nav>
      <ul class="flex gap-8">
        <li><a href="/">Store</a></li>
        <li><a href="/about">Developer</a></li>
        <li><a href="/contact">Team</a></li>
        <li>
          <a href="/" class="flex items-start">Pro<img src="/navspan.png" /></a>
        </li>
        <li><a href="/about">Changelog</a></li>
        <li><a href="/contact">Pricing</a></li>
        <li><a href="/contact">Blog</a></li>
      </ul>
    </nav>
    <div class="flex gap-4">
      <button>Log in</button>

      <button class="border-gradient px-4 py-1.5 rounded-lg">Download</button>
    </div>
  </div>
</section>
