<section
  class="bg-[#020711] py-16 flex items-center justify-center flex-col gap-60"
>
  <div class="flex flex-col items-center justify-center gap-10">
    <div
      class="text-[#9dacbd] flex flex-col items-center justify-center gap-6 text-center"
    >
      <div
        class="border-2 border-[#ffffff0a] bg-[#FFFFFF0A] py-2 px-5 tracking-widest rounded-full"
      >
        CUSTOM THEMES
      </div>
      <div class="text-4xl font-semibold text-white">Show your personality</div>
      <p>
        Make Raycast your own with gorgeous themes. Opt for a pre-<br /> made one
        or design your own and share it with the community.
      </p>
    </div>
    <img src="/theme01.png" width="70%" />
  </div>
  <div class="w-[60%] flex gap-16 items-center">
    <div class="w-1/2"><img src="/infinity.png" /></div>
    <div
      class="w-1/2 text-[#9dacbd] flex flex-col items-start justify-center gap-6"
    >
      <div
        class="border-2 border-[#ffffff0a] bg-[#FFFFFF0A] py-2 px-5 tracking-widest rounded-full"
      >
        Clipboard history
      </div>
      <div class="text-4xl font-semibold text-white">
        Unlimited amount of content<br />in your history
      </div>
      <p>
        Make Raycast your own with gorgeous themes. Opt for a pre- made one or
        design your own and share it with the community.
      </p>
    </div>
  </div>
  <div class="w-[60%] flex gap-16 items-center">
    <div class="w-1/2"><img src="/text.png" /></div>
    <div
      class="w-1/2 text-[#9dacbd] flex flex-col items-start justify-center gap-6"
    >
      <div
        class="border-2 border-[#ffffff0a] bg-[#FFFFFF0A] py-2 px-5 tracking-widest rounded-full"
      >
        TRANSLATOR
      </div>
      <div class="text-4xl font-semibold text-white">
        Quickest way to translates
      </div>
      <p>
        Even less context switching! Quickly translate text on the fly, check
        it’s pronunciation or dictate your own words.
      </p>
    </div>
  </div>
</section>
